<section>
    <div class="content-wrapper  ">
        <div class="col-lg-10 col-lg-offset-1">
            <div>
                <h5>Woensdag avond 2 juli: IceBreaker party
                    <h5>Met:</h5>
                </h5>
                <h3 style="color:#4CB05B">The Legendary MGI Band ! </h3>
                <div class="content-wrapper text-left">
                    <div class="col-lg-6 col-lg-offset-3">
                        <p>Not many people know that the Laboratory of Geo Information Science and Remote Sensing from
                            Wageningen
                            University was formed around the legendary MGI Band. The laboratory serves as inspiration
                            for
                            the songs
                            that the legendary MGI Band performs. Many of these songs will sound familiar. Famous acts
                            like
                            the
                            Beatles and John Mayer have performed songs that the legendary MGI Band also plays, with
                            slightly
                            different lyrics. On Wednesday evening, the legendary MGI Band will take you on a journey
                            interpreting
                            open source and related themes through music!</p>
                        </div>
                    </div>
                    <img style="width: 40%;" src="img/Logo MGI band.jpg" />

            </div>
        </div>
    </div>
</section>