    <div class="content-wrapper text-left">
        <div class="col-lg-6 col-lg-offset-3">
            <p>In 2024 werken we samen met OSGeo.be aan een grenzeloze FOSS4G. Dit jaar voor het eerst drie dagen! <br>
				Woensdag 25 september is de workshopmiddag en de icebreakerparty<br>
				Donderdag 26 september het hart van de FOSS4G: de conferentiedag<br>
				Vrijdag 27 september is er ruimte voor een codesprint, samen werken aan de software én de daarbij horende ondersteunende zaken (handleidingen, vertalingen)<br><br>
				Dit jaar op de meest grensrijke plek van Nederland én België: Baarle!</p><br>		
        </div>
    </div>
